@model ProjectManagement.ViewModels.ProjectView

@{
    ViewBag.Title = @Html.DisplayFor(model => model.project.Title);
}
<style>
    body {
        background-image: url('../../Images/Office01-optimized.jpg');
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>
<div class="row">
    <div class="col-lg-12">
        <div class="pm-title">
            <div class="row">
                <div class="col-lg-4">
                    <h1 style="margin-left: 10px;">@Html.DisplayFor(model => model.project.Title)</h1>
                </div>
                <div class="col-lg-8">
                    <p>@Html.DisplayFor(model => model.project.Description)</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">

    <div class="col-md-3 col-sm-6">
        <div class="pm-section-head">
            <h2>Pending</h2>
        </div>
        <div class="pm-section-body">

            <a href="@Url.Action("Create", "Card")">
                <div class="pm-card-new">
                    <p class="glyphicon-plus" style="font-size: 30px;"></p>
                    @Html.ActionLink(" ", "Create", "Card")
                </div>
            </a>
            @if (Model.Pending != null)
            {
                foreach (var item in Model.Pending)
                {
                <a href="@Url.Action("Edit", "Card", new { id = item.CardID})">
                    <div class="pm-card">
                        @item.Title
                        <p>@item.Description</p>
                    </div>
                </a>
                }
            }

        </div>
        <div class="pm-section-footer"></div>
    </div>

    <div class="col-md-3 col-sm-6">
        <div class="pm-section-head">
            <h2>Active</h2>
        </div>
        <div class="pm-section-body">

            @if (Model.Active != null)
            {
                foreach (var item in Model.Active)
                {
                    <a href="@Url.Action("Edit", "Card", new { id = item.CardID})">
                        <div class="pm-card">
                            @item.Title
                            <p>@item.Description</p>
                        </div>
                    </a>
                }
            }

        </div>
        <div class="pm-section-footer"></div>
    </div>

    <div class="col-md-3 col-sm-6">
        <div class="pm-section-head">
            <h2>Completed</h2>
        </div>
        <div class="pm-section-body">

            @if (Model.Completed != null)
            {
                foreach (var item in Model.Completed)
                {
                    <a href="@Url.Action("Edit", "Card", new { id = item.CardID})">
                        <div class="pm-card">
                            @item.Title
                            <p>@item.Description</p>
                        </div>
                    </a>
                }
            }

        </div>
        <div class="pm-section-footer"></div>
    </div>

    <div class="col-md-3 col-sm-6">
        <div class="pm-section-head">
            <h2>Confirmed</h2>
        </div>
        <div class="pm-section-body">

            @if (Model.Confirmed != null)
            {
                foreach (var item in Model.Confirmed)
                {
                    <a href="@Url.Action("Edit", "Card", new { id = item.CardID})">
                        <div class="pm-card">
                            @item.Title
                            <p>@item.Description</p>
                        </div>
                    </a>
                }
            }

        </div>
        <div class="pm-section-footer"></div>
    </div>
</div>